.badge-round-text {
	--_size: calc(30 * var(--rem));
	--_text-color: var(--wp--preset--color--base);
	--_bg-color: var(--wp--preset--color--text-base);

	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: fit-content;
	block-size: var(--_size);
	padding: 0.125em 1.25em;
	font-size: var(--wp--preset--font-size--10);
	font-weight: var(--wp--custom--font-weight--bold);
	line-height: var(--wp--custom--line-height--xs);
	color: var(--_text-color);
	background-color: var(--_bg-color);
	border-radius: var(--wp--custom--infinity);

	&.has-theme-color-rd {
		--_bg-color: var(--wp--preset--color--theme-rd);
	}

	&.has-theme-color-or {
		--_bg-color: var(--wp--preset--color--theme-or);
	}

	&.has-theme-color-yl {
		--_bg-color: var(--wp--preset--color--theme-yl);
		--_text-color: var(--wp--preset--color--text-base);
	}

	&.has-theme-color-gr {
		--_bg-color: var(--wp--preset--color--theme-gr);
	}

	&.has-theme-color-bl {
		--_bg-color: var(--wp--preset--color--theme-bl);
	}

	&.has-theme-color-pl {
		--_bg-color: var(--wp--preset--color--theme-pl);
	}
}

a.badge-round-text {
	text-decoration: none;
}
