.wp-block-button {
	.wp-block-button__link.wp-element-button {
		position: relative;
		min-width: calc(240 * var(--rem));
		padding-right: 1.75em;
		padding-left: 1.75em;
		transition:
			color 0.2s ease,
			border-color 0.2s ease,
			background-color 0.2s ease;

		/* right arrow */
		&::after {
			content: "";
			position: absolute;
			top: calc(50% - 0.5em);
			right: 0.75em;
			display: inline-block;
			width: 1em;
			height: 1em;
			background-color: currentcolor;
			mask-image: var(--mask-ico-arrow-right);
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: 0.6em;
		}
	}
}
