.menu-toggle {
	position: relative;
	overflow: hidden;
	display: block;
	width: var(--header-height);
	height: var(--header-height);
	margin-right: 0;
	margin-left: auto;
	background-color: var(--wp--preset--color--primary);

	.toggle-image {
		position: absolute;
		inset: 0;
		overflow: hidden;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: 0.25s var(--ease-out-circ);

		> svg {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.toggle-image {
	&.-toggle {
		visibility: visible;
		opacity: 1;
	}

	&.-close {
		visibility: hidden;
		opacity: 0;
	}
}

.is-menu-shown .toggle-image {
	transform: rotate(90deg);

	&.-toggle {
		visibility: hidden;
		opacity: 0;
	}

	&.-close {
		visibility: visible;
		opacity: 1;
	}
}
