.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-modal);
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	overscroll-behavior: contain;
	-webkit-overflow-scrolling: touch;

	/* hide scrollbar */
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	/* overray */
	&::before {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		content: "";
		background-color: var(--wp--preset--color--text-base);
		opacity: var(--overay-opacity);
	}

	> .spacer {
		pointer-events: none;
	}

	/* transition */
	&.-enter {
		transition: 0.3s var(--ease-out-circ);
	}
	&.-enter-start {
		opacity: 0;
	}
	&.-enter-end {
		opacity: 1;
	}
	&.-leave {
		transition: 0.3s var(--ease-out-circ);
	}
	&.-leave-start {
		opacity: 1;
	}
	&.-leave-end {
		opacity: 0;
	}
}

.modal-contnt {
	position: relative;
}

.modal-close {
	text-transform: uppercase;
	cursor: pointer;

	&.-top {
		--size: calc(30 / var(--rem));
		position: absolute;
		top: var(--spacer-sm);
		right: var(--spacer-sm);
		z-index: 10;
		width: var(--size);
		height: var(--size);
		background-image: var(--bg-ico-close);
		background-size: contain;
	}

	&.-link {
		position: relative;
		display: inline-block;
		padding-right: 1em;
		color: var(--color-text);
		text-decoration: underline;

		&:active {
			text-decoration: none;
		}
		@media (hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}

		&::after {
			--size: calc(8 / var(--rem));
			position: absolute;
			top: 0;
			right: 0.25em;
			bottom: 0;
			width: var(--size);
			height: var(--size);
			margin-top: auto;
			margin-bottom: auto;
			content: "";
			background-color: var(--color-primary);
			mask-position: center;
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-image: var(--mask-ico-arrow-right);
		}
	}
}
