.pagination-scroller {
	display: block;
	overflow: auto;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

* + .pagination-scroller {
	margin-block-start: var(--wp--preset--spacing--lg);
}

.pagination {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-inline-size: 100%;
	padding-block-start: var(--wp--preset--spacing--lg);
	padding-inline-start: 0;
	margin-block-end: 0;
	list-style: none;

	@media (width >= 48em) {
		margin-block-end: var(--wp--preset--spacing--lg);
	}
}

.pagination-item {
	--_pagination-link-inline-size: calc(42 * var(--rem));

	position: relative;
	display: grid;
	block-size: 100%;
	margin: 0 0.25em;
	font-size: var(--wp--preset--font-size--16);

	& a {
		text-decoration: none;
	}

	& .page-numbers {
		position: relative;
		display: flex;
		grid-area: 1/1;
		align-items: center;
		justify-content: center;
		inline-size: var(--_pagination-link-inline-size);
		aspect-ratio: 1;
		padding: 0.2em;
		overflow: clip;
		font-family: var(--wp--preset--font-family--sans-serif-en);
		font-size: var(--wp--preset--font-size--16);
		font-weight: var(--wp--custom--font-weight--bold);
		line-height: 1;
		color: var(--wp--preset--color--text-base);
		text-decoration: none;
		background-color: var(--wp--preset--color--base);
		border: calc(1.5 * var(--rem)) solid var(--wp--preset--color--text-base);
		border-radius: 50%;
		transition: 0.2s ease;

		&:not(.current, .prev, .next) {
			display: flex;
		}

		&.dots {
			color: var(--wp--preset--color--primary);
			background-color: transparent;
			border-color: transparent;
		}
	}

	@media (any-hover: hover) {
		a.page-numbers:hover {
			background-color: var(--wp--preset--color--border);
		}
	}

	& a.page-numbers {
		display: block;
		text-decoration: none;
	}

	& .page-numbers.current {
		color: var(--wp--preset--color--base);
		pointer-events: none;
		background-color: var(--wp--preset--color--text-base);
	}

	& .prev,
	& .next {
		position: relative;
		color: transparent !important;

		&::after {
			position: absolute;
			inset: 0;
			inline-size: 100%;
			block-size: 100%;
			margin: auto;
			content: "";
			background-color: var(--wp--preset--color--text-base);
			mask-repeat: no-repeat no-repeat;
			mask-position: center;
			mask-size: 1.25em;
		}

		&.is-disable {
			opacity: 0.5;
		}
	}

	& .prev::after {
		mask-image: var(--img-ico-border-arrow-left);
	}

	& .next::after {
		mask-image: var(--img-ico-border-arrow-right);
	}

	& a:hover {
		&.prev,
		&.next {
			background-color: var(--wp^wp--preset--color--primary);
		}
	}
}

.page-num {
	padding-top: var(--wp--preset--spacing--normal);
	font-weight: var(--wp--custom--font-weight--bold);
	text-align: center;

	@media (width >= 48em) {
		display: none;
	}
}
