.pagination-scroller {
	display: block;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

* + .pagination-scroller {
	margin-top: var(--wp--preset--spacing--lg);
}

.pagination {
	position: relative;
	display: flex;
	max-width: 100%;
	align-items: center;
	justify-content: center;
	padding-top: var(--wp--preset--spacing--lg);
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

	@media (--viewport-md) {
		margin-bottom: var(--wp--preset--spacing--lg);
	}
}

.pagination-item {
	--pagination-link-width: calc(42 / var(--rem));
	position: relative;
	display: block;
	height: 100%;
	margin-right: 0.25em;
	margin-bottom: 0;
	margin-left: 0.25em;
	font-size: var(--wp--preset--font-size--14);

	& a {
		text-decoration: none;
	}

	& .page-numbers {
		position: relative;
		display: flex;
		overflow: hidden;
		width: var(--pagination-link-width);
		height: var(--pagination-link-width);
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 0.2em;
		border: 1px solid var(--wp--preset--color--border);
		background-color: var(--wp--preset--color--base);
		color: var(--wp--preset--color--text);
		font-family: var(--wp--preset--font-family--sans-serif-en);
		font-weight: 700;
		line-height: 1;
		text-decoration: none;
		transition: 0.2s ease;

		&:not(.current, .prev, .next) {
			display: flex;
		}
		&[aria-current="page"] {
			background-color: var(--wp--preset--color--primary);
			color: var(--wp--preset--color--base);
		}
		&.dots {
			border-color: transparent;
			background-color: transparent;
			color: var(--wp--preset--color--primary);
		}
	}
	& a:hover.page-numbers {
		border-color: var(--wp--preset--color--primary);
		color: var(--wp--preset--color--primary);
	}

	& a.page-numbers {
		display: block;
		text-decoration: none;
	}
	& .page-numbers.current {
		pointer-events: none;
	}

	& .prev,
	& .next {
		position: relative;
		width: calc(var(--pagination-link-width) * 0.75);
		min-width: 1em;
		height: calc(var(--pagination-link-width) * 0.75);
		border: none;
		background-color: transparent;
		color: transparent !important;

		&::after {
			position: absolute;
			width: 100%;
			height: 100%;
			margin: auto;
			background-color: var(--wp--preset--color--text-base);
			content: "";
			inset: 0;
			mask-position: center;
			mask-repeat: no-repeat no-repeat;
			mask-size: 0.5rem;
		}

		&.is-disable {
			opacity: 0.5;
		}
	}
	& .prev::after {
		mask-image: var(--mask-ico-arrow-left);
	}
	& .next::after {
		mask-image: var(--mask-ico-arrow-right);
	}
	& a:hover {
		&.prev,
		&.next {
			background-color: var(--wp^wp--preset--color--primary);
		}
	}
}

.page-num {
	padding-top: var(--wp--preset--spacing--normal);
	font-weight: var(--wp--custom--font-weight--bold);
	text-align: center;

	@media (--viewport-md) {
		display: none;
	}
}
