.share-links {
	display: flex;
	gap: 1rem max(1rem, 2.5%);
	align-items: center;
	justify-content: center;
	padding-top: var(--wp--preset--spacing--normal);
	padding-bottom: var(--wp--preset--spacing--normal);

	.share-links-label {
		font-family: var(--wp--preset--font-family--sans-serif-en);
		color: var(--wp--preset--color--border);
	}

	.share-link {
		--size: calc(30 / var(--rem));
		position: relative;
		display: block;
		width: var(--size);
		height: var(--size);
	}
}
