.wp-block-wbs-grid-layout-column {
	position: relative;
	box-sizing: border-box;
	box-sizing: border-box;
	display: grid;
	inline-size: 100%;
	block-size: 100%;
	padding: 0;
	overflow: clip;

	> .block-editor-inner-blocks {
		block-size: 100%;

		> .block-editor-block-list__layout {
			display: grid;
			gap: inherit;
			block-size: 100%;

			> * {
				max-inline-size: 100%;
			}
		}
	}
}
