/*

Button global styles

*/
:where(.btn, .link-circle-icon, .wp-block-button) {
	--_bg-color: var(--wp--preset--color--text-base);
	--_color: var(--wp--preset--color--base);
	--_border-color: var(--wp--preset--color--text-base);
	--_font-size: var(--wp--preset--font-size--16);
	--_ico-size: 1.4em;
	--_min-block-size: calc(52 * var(--rem));
	--_min-inline-size: min(
		calc(100% - var(--wp--preset--spacing--normal)),
		calc(212 * var(--rem))
	);

	inline-size: var(--_min-inline-size);
	max-inline-size: 100%;

	&:where(.has-background) {
		--_bg-color: inherit;
		--_color: inherit;
	}
}

.btn,
.link-circle-icon,
.wp-block-button .wp-block-button__link {
	position: relative;
	display: inline grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 0.25em;
	align-items: center;
	inline-size: 100%;
	min-block-size: var(--_min-block-size);
	padding-inline: 0.75em;
	overflow: clip;
	font-size: var(--_font-size);
	font-weight: var(--wp--custom--font-weight--bold);
	color: var(--_color);
	text-align: center;
	word-break: keep-all;
	text-decoration: none;
	background-color: var(--_bg-color);
	border: max(2px, calc(2 * var(--rem))) solid var(--_border-color);
	border-radius: var(--wp--custom--infinity);

	&::before,
	&::after {
		position: relative;
		display: inline-block;
		inline-size: var(--_ico-size);
		aspect-ratio: 1;
		content: "";
		mask-repeat: no-repeat !important;
		mask-position: center !important;
		mask-size: contain;
	}

	&[target="_blank"],
	&[href*=".pdf"] {
		&::before {
			background-color: transparent;
			mask: initial;
		}

		&::after {
			background-color: currentcolor;
		}
	}

	/* WORKAROUND */
	&:has([data-rich-text-placeholder]) {
		display: flex;
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;

		&::before,
		&::after {
			content: none;
		}
	}

	&[target="_blank"]::after {
		mask-image: var(--img-ico-external);
		mask-size: 120%;
	}

	&[href*=".pdf"]::after {
		mask-image: var(--img-ico-pdf);
		mask-size: 120%;
	}

	&:not(.has-background) {
		transition:
			border-color 0.1s ease,
			background-color 0.1s ease;

		&:focus-visible {
			--_color: var(--wp--preset--color--text-base);
			--_bg-color: var(--wp--preset--color--base);
		}

		@media (any-hover: hover) {
			&:hover {
				--_color: var(--wp--preset--color--text-base);
				--_bg-color: var(--wp--preset--color--base);
			}
		}
	}

	&.has-background {
		border-width: 0;

		&:focus-visible {
			filter: brightness(1.075);
		}

		@media (any-hover: hover) {
			&:hover {
				filter: brightness(1.075);
			}
		}
	}
}

/* MARK: sizing */
.btn.has-size-sm,
.link-circle-icon.has-size-sm,
.wp-block-buttons.has-size-sm .wp-block-button {
	--_min-block-size: calc(42 * var(--rem));
	--_min-inline-size: min(
		calc(100% - var(--wp--preset--spacing--normal)),
		calc(175 * var(--rem))
	);
	--_font-size: var(--wp--preset--font-size--12);
}

.btn.has-size-lg,
.link-circle-icon.has-size-sm,
.wp-block-buttons.has-size-lg .wp-block-button {
	--_min-block-size: calc(60 * var(--rem));
	--_min-inline-size: min(
		calc(100svi - (var(--wp--preset--spacing--inline-gutter) * 2)),
		calc(280 * var(--rem))
	);
	--_font-size: var(--wp--preset--font-size--18);
}
