.sns-links {
	display: flex;
	flex-wrap: wrap;
	gap: var(--wp--preset--spacing--normal)
		clamp(
			var(--wp--preset--spacing--normal),
			10%,
			var(--wp--preset--spacing--inline-gutter)
		);
	inline-size: 100%;
	padding: 0;
	margin: 0 auto var(--wp--preset--spacing--lg);
	container-name: sns-links;
	container-type: inline-size;
	list-style: none;
}

.sns-link {
	display: grid;
	place-items: center;
	inline-size: calc(34 * var(--rem));
	aspect-ratio: 1;
	background-color: currentcolor;
	mask: no-repeat center / contain;

	@media (width >= 48em) {
		inline-size: calc(26 * var(--rem));
	}

	&.is-ico-x {
		mask-image: var(--img-ico-sns-x);
	}

	&.is-ico-facebook {
		mask-image: var(--img-ico-sns-facebook);
	}

	&.is-ico-instagram {
		mask-image: var(--img-ico-sns-instagram);
	}

	&.is-ico-note {
		mask-image: var(--img-ico-sns-note);
	}

	&.is-ico-line {
		mask-image: var(--img-ico-sns-line);
	}

	&[target="_blank"]::after {
		content: initial !important;
		background-color: transparent;
	}
}
