.wp-block-group {
	--_round: calc(var(--wp--preset--spacing--inline-gutter) * 1.25);

	&.has-force-round-block {
		border-radius: var(--_round);
	}

	&.has-force-round-block-start {
		border-start-start-radius: var(var(--_round));
		border-start-end-radius: var(--_round);
	}

	&.has-force-round-block-end {
		border-end-start-radius: var(--_round);
		border-end-end-radius: var(--_round);
	}
}
