.wp-block-heading {
	line-height: var(--wp--custom--line-height--md);
}

.wp-block-heading.is-style-section-title-en {
	font-family: var(--wp--preset--font-family--sans-serif-en);
	font-size: var(--wp--preset--font-size--85);
	line-height: var(--wp--custom--line-height--none);
	text-transform: uppercase;
}

/* サイドボーダー
.wp-block-heading.is-style-side-border:not(:has([data-rich-text-placeholder])) {
	--_border-color: var(--wp--preset--color--text-base);

	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 0.5em;

	> [data-rich-text-placeholder] {
		grid-area: 1/2;
	}

	&::before {
		display: block;
		inline-size: calc(8 * var(--rem));
		block-size: calc(100% - (1lh - 1em));
		min-block-size: 1em;
		margin-block: auto;
		content: "";
		background-color: var(--_border-color);
		border-radius: var(--wp--custom--infinity);
	}
}
*/

/* サイド 装飾マーカー
.wp-block-heading.is-style-decorated-marker:not(
:has([data-rich-text-placeholder])
) {
	--_obj-color: var(--wp--preset--color--theme-rd);
	--_obj-mask: var(--img-obj-shape-chip-01);
	--_size: calc(12 * var(--rem));

	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 0.35em;

	&::before {
		--_lh-start: 0.25lh;
		display: block;
		inline-size: var(--_size);
		aspect-ratio: 25.79 / 68.14;
		margin-block: calc(var(--_lh-start) - 0.25em) auto;
		content: "";
		background: var(--img-obj-head-chip) no-repeat center / contain;
	}
}
*/

/* アイコン ユーザー
.wp-block-heading.is-style-icon-user:not(:has([data-rich-text-placeholder])) {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 0.35em;

	&::before {
		--_size: 1em;
		--_half-lh: 0.5lh;
		display: block;
		inline-size: var(--_size);
		aspect-ratio: 1;
		margin-block-start: calc(var(--_half-lh) - 0.5em);
		content: "";
		background: currentcolor;
		mask: var(--img-ico-user) no-repeat center / contain;
	}
}
*/
