:root body :where(.entry-content, .editor-styles-wrapper) > :is(ul, ol) {
	margin-block-start: 1.5rem;

	li > :where(ul, ol) {
		margin-block-start: 0.5rem;
	}
}

:where(.entry-content, .editor-styles-wrapper) {
	ul,
	ol {
		padding-inline-start: calc(
			var(--wp--preset--spacing--inline-gutter) + 0.25rem
		);

		&:not(:first-child) {
			margin-block-start: var(--wp--preset--spacing--inline-gutter);
		}

		&:where(:not(li > ul)) {
			margin-block-end: var(--wp--preset--spacing--inline-gutter);
		}

		li {
			margin-block-start: 0;
		}

		li + li {
			margin-block-start: 0.5em;
		}
	}

	> ul,
	> ol {
		&:not(.alignwide):not(.alignfull) {
			padding-inline-start: calc(
				var(--wp--preset--spacing--inline-gutter)
			);
		}
	}

	dl {
		margin-bottom: var(--wp--preset--spacing--inline-gutter);
	}

	ul {
		li::marker {
			color: var(--wp--preset--color--text-base);
		}

		&.list-iroha {
			list-style-type: katakana-iroha;
		}

		&.list-circled-decimal {
			list-style-type: circled-decimal;
		}

		&.list-parenthesized-decimal {
			list-style-type: parenthesized-decimal;
		}
	}

	ol {
		li::marker {
			font-family: var(--wp--preset--font-family--sans-serif-en);
		}
	}

	/* −−−−−−−−−−−−−−−−−−− 注釈文 */
	.wp-block-list.is-style-annotation {
		padding-inline-start: 0 !important;
		list-style: none;

		li {
			position: relative;
			display: grid;
			grid-template-columns: auto 1fr;
			column-gap: 0.5em;
			justify-content: flex-start;
			font-size: var(--wp--preset--font-size--12);
			color: var(--wp--preset--color--text-annotation);

			&:has(> ul) {
				&::before {
					grid-area: 1 / 1 / 3 / 2;
				}
			}
		}

		> li {
			&::before {
				position: relative;
				letter-spacing: 1;
				content: "*";
			}
		}

		&:is(ol) {
			counter-reset: list-num 0;

			> li::before {
				content: "*" counter(list-num);
				counter-increment: list-num 1;
			}
		}
	}

	:where(.entry-content, .editor-styles-wrapper)
		> .wp-block-list.is-style-annotation {
		padding-block-start: var(
			--wp--preset--spacing--inline-gutter
		) !important;
	}
}
