/* typography */
:where(.wp-block-heading, p):has(.format-wbr) {
	word-break: keep-all;
	overflow-wrap: break-word;
}

p.has-weight-bold {
	font-weight: var(--wp--custom--font-weight--bold);
}

@media (width <= 37.5em) {
	:is(.wp-block-heading, p).has-view-small-center {
		text-align: center;
	}

	.wp-block-heading:is(
			.is-style-icon-user,
			.is-style-decorated-marker,
			.is-style-side-border
		).has-view-small-center {
		inline-size: fit-content;
		margin-inline: auto;
	}
}
