.menu-toggle {
	--_toggle-size: calc(28 * var(--rem));

	position: relative;
	display: grid;
	place-items: center;
	inline-size: min(var(--header-height), calc(40 * var(--rem)));
	aspect-ratio: 1;
	overflow: hidden;
	background-color: var(--wp--preset--color--primary);

	.toggle-image {
		position: absolute;
		inset: 0;
		display: block;
		inline-size: var(--_toggle-size);
		aspect-ratio: 1;
		margin: auto;
		overflow: hidden;
		pointer-events: none;
		opacity: 0;
		transition: 0.25s var(--ease-out-circ);

		> svg {
			position: absolute;
			display: block;
			inline-size: 100%;
			block-size: 100%;
		}
	}
}

.toggle-image {
	&.is-toggle {
		visibility: visible;
		opacity: 1;
	}

	&.is-close {
		visibility: hidden;
		opacity: 0;
	}
}

.has-menu-shown .toggle-image {
	transform: rotate(90deg);

	&.is-toggle {
		visibility: hidden;
		opacity: 0;
	}

	&.is-close {
		visibility: visible;
		opacity: 1;
	}
}
