.error404-section {
	display: flex;
	min-height: 60svh;
	align-items: center;
	justify-content: center;
	font-family: var(--wp--preset--font-family--sans-serif-en);
	text-align: center;
}

.error404-heading {
	line-height: var(--wp--custom--line-height--sm);
}

.error404-heading-status {
	display: block;
	color: var(--wp--preset--color--primary);
	font-size: var(--wp--preset--font-size--64);
	font-weight: var(--wp--custom--font-weight--bold);
}

.error404-heading-label {
	display: block;
	font-size: var(--wp--preset--font-size--24);
}

.error404-description {
	font-size: var(--wp--preset--font-size--16);
}
