.archive-contents {
	position: relative;
	padding-block: 0 calc(var(--wp--custom--block-gutter) * 1.5);
}

.archive-head:has(> [class*="wp-block-"]) {
	padding-block-end: var(--wp--custom--block-gutter);
}

.archive-term-selector {
	display: grid;
	justify-content: flex-end;
}

.archive-term-tabs {
	inline-size: calc(100% - (var(--wp--custom--gutter) * 2));
	max-inline-size: var(--wp--style--global--wide-size);
}

.archive-section-heading {
	--_ico-color: var(--wp--preset--color--theme-rd);

	display: block grid;
	grid-template-columns: auto 1fr;
	column-gap: 0.5em;

	&::before {
		inline-size: 0.75em;
		block-size: 1lh;
		content: "";
		background-color: var(--_ico-color);
		mask: var(--img-obj-shape-chip-01) no-repeat center / contain;
	}
}

.archive-grid {
	display: grid;
	row-gap: clamp(
		var(--wp--preset--spacing--normal),
		5cqi,
		var(--wp--preset--spacing--lg)
	);

	&.has-auto-column {
		--_column: 1;
		--_gap: clamp(1em, 2cqi, 2em);

		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			calc((100% - var(--_gap) * (var(--_column) - 1)) / var(--_column))
		);
		gap: var(--_gap);
		justify-content: center;

		@container (inline-size >= 54em) {
			--_column: 2;
		}
	}

	&.has-auto-column-3 {
		@container (inline-size >= 48em) {
			--_column: 2;
		}

		@container (inline-size >= 64em) {
			--_column: 3;
		}
	}
}

*:not(.archive-section-heading) + .archive-articles {
	margin-block-start: var(--wp--custom--block-gutter);
}
