.single-post-wrapper {
	--_container-size: min(
		calc(100% - (var(--wp--custom--gutter) * 2)),
		var(--wp--style--global--content-size)
	);

	.single-post {
		display: grid;
		row-gap: var(--wp--custom--block-gutter);
		inline-size: var(--_container-size);
		margin: var(--wp--preset--spacing--md) auto
			var(--wp--custom--block-gutter);
	}

	.single-post-header {
		position: relative;
	}

	.single-heading {
		margin-block-start: var(--wp--preset--spacing--sm);
		font-size: var(--wp--preset--font-size--30);
	}
}

.meta-content-head {
	display: flex;
	column-gap: 0.75em;

	.updated {
		display: grid;
		align-items: center;
		min-block-size: 1.5em;
		font-size: var(--wp--preset--font-size--20);
	}
}

.single .wp-block-buttons.has-single-end {
	padding-block: 0 calc(var(--wp--custom--block-gutter) * 2);
	margin-block: 0;
}
