.wp-block-wbs-definition-list {
	display: grid;
	gap: 0.75rem 1rem;
	container-type: inline-size;
}

.wp-block-wbs-definition-list.is-style-inline {
	@container (width >= 36em) {
		grid-template-columns: auto 1fr;

		.wp-block-wbs-definition-list-item {
			display: grid;
			grid-template-columns: subgrid;
			grid-column: span 2;

			dt {
				inline-size: fit-content;
				max-inline-size: clamp(4em, 20cqi, 10em);
			}
		}
	}
}
