.wp-block-wbs-site-footer {
	max-inline-size: var(--wp--custom--container-max-width--view);
	margin: var(--wp--custom--block-gutter-large) auto 0;
	color: var(--wp--preset--color--base);
	background-color: var(--wp--preset--color--bg-dark);
}

:where(.wp-block-wbs-site-footer) {
	.footer-body {
		display: grid;
		gap: var(--wp--preset--spacing--lg) var(--wp--custom--gutter);
		inline-size: min(
			calc(100% - (var(--wp--custom--gutter) * 2)),
			var(--wp--custom--container-max-width--base)
		);
		inline-size:;
		padding: var(--wp--preset--spacing--lg)
			var(--wp--preset--spacing--normal);
		margin-inline: auto;

		@media (width >= 48em) {
			grid-template-columns: auto 1fr;
			column-gap: max(var(--wp--custom--gutter), 5vi);
			padding-block: var(--wp--preset--spacing--xl);
		}
	}

	.footer-head {
		display: block;
	}

	.footer-brand {
		display: block;
		inline-size: 100%;
		max-inline-size: calc(300 * var(--rem));
		margin-inline: auto;

		@media (width >= 48em) {
			min-inline-size: calc(200 * var(--rem));
			margin-inline: 0 auto;
		}
	}

	.footer-brand-logo {
		position: relative;
		min-inline-size: calc(220 * var(--rem));

		svg {
			position: absolute;
			inset: 0;
			inline-size: 100%;
			block-size: 100%;
			margin: 0;
		}

		&.is-vertical {
			display: none;
			aspect-ratio: 169/136;

			@media (width >= 48em) {
				display: block;
			}
		}

		&.is-horizontal {
			display: block;

			@media (width >= 48em) {
				display: none;
			}
		}
	}

	.footer-content {
		display: grid;
		row-gap: var(--wp--preset--spacing--md);
		align-items: flex-start;
		container-type: inline-size;

		@media (width >= 48em) {
			grid-area: span 2;
		}
	}

	.footer-info {
		display: grid;
		min-inline-size: calc(220 * var(--rem));

		.sns-links {
			margin-block-start: auto;
		}
	}

	.copyright {
		padding: var(--wp--preset--spacing--normal) var(--wp--custom--gutter);
		margin-block: var(--wp--preset--spacing--normal) 0;
		font-size: var(--wp--preset--font-size--12);
		text-align: center;
		background-color: var(--wp--preset--color--text-base);
	}
}

/* WORKAROUND */
.entry-content:has(.wp-block-wbs-site-aside-social-links:last-child) {
	& + .has-site-footer .wp-block-wbs-site-footer {
		margin-block-start: 0;
	}
}
