.wp-block-wbs-contents-carousel-slide {
	pointer-events: none;

	&:first-child {
		scale: 1 !important;
	}

	.wp-block-image {
		img[style*="aspect-ratio"] {
			inline-size: 100%;
		}
	}
}

.edit-slide {
	.wp-block-wbs-contents-carousel-slide {
		inline-size: auto;
		max-inline-size: var(--wp--custom--container-max-width--xxl);
		margin-inline: auto;
		overflow: clip;
		scale: 1 !important;

		@media (any-hover: hover) {
			&:hover {
				border-color: color-mix(
					in srgb,
					var(--wp--preset--color--text-base),
					transparent 80%
				);
			}
		}

		.block-editor-inner-blocks {
			max-inline-size: initial;
		}

		.wp-block-image {
			max-inline-size: 100%;

			img {
				inline-size: 100%;
				max-inline-size: 100%;
			}
		}

		.has-force-thumbnail-display {
			.components-resizable-box__container {
				display: contents !important;
			}
		}
	}

	.wp-block-wbs-contents-carousel-slide
		+ .wp-block-wbs-contents-carousel-slide {
		margin-block-start: var(--wp--preset--spacing--inline-gutter);
	}
}
