.wp-block-wbs-contents-carousel-slide {
	--_gutter: max(calc(var(--wp--preset--spacing--inline-gutter) * 2), 7.5%);
	position: relative;
	box-sizing: border-box;
	inline-size: 100%;
	min-block-size: 1rem;
	padding: calc(var(--wp--preset--spacing--md) * 0.5);
	container-name: carousel-slide;
	container-type: inline-size;
	text-decoration: none;
	border: 1px solid transparent;

	&.swiper-slide:not(.swiper-slide-active) {
		scale: 0.86;
	}
}

a.wp-block-wbs-contents-carousel-slide {
	@media (any-hover: hover) {
		&:hover {
			filter: brightness(0.95);
		}
	}
}

:root.has-page-active .wp-block-wbs-contents-carousel-slide {
	transition: scale 0.4s var(--ease-out-circ);
}

.edit-slide,
:where(.wp-block-wbs-contents-carousel-slide) {
	container-type: inline-size;

	.wp-block-image.has-force-thumbnail-display {
		inline-size: 100%;
		aspect-ratio: 1;

		&:not(:has(img)) {
			background-repeat: no-repeat;
			background-position: center;
			background-size: 75%;
		}

		&:has(img) {
			@container contents-carousel (inline-size >= 36em) {
				aspect-ratio: 3/2;
			}

			@container contents-carousel (inline-size >= 64em) {
				aspect-ratio: 16/9;
			}
		}

		img {
			inline-size: 100% !important;
			block-size: 100% !important;
			object-fit: cover;
		}
	}
}

.entry-content :where(.wp-block-wbs-contents-carousel-slide) {
	.wp-block-image.has-force-thumbnail-display:not(:has(img)) {
		background-image: var(--bg-no-image);
	}
}
