.wp-block-wbs-two-line-heading {
	font-size: var(--wp--preset--font-size--44);
	color: var(--wp--preset--color--text);
	text-align: center;

	.label-content {
		font-size: max(var(--wp--preset--font-size--14), 1em);
	}

	.shoulder-content,
	.label-content {
		display: block;
		font-weight: var(--wp--custom--font-weight--bold);
		line-height: var(--wp--custom--line-height--md);
	}

	.shoulder-content {
		font-family: var(--wp--preset--font-family--sans-serif-en);
		font-size: max(var(--wp--preset--font-size--10), 0.4545em);
	}

	&:not(.has-text-color) .shoulder-content {
		color: var(--wp--preset--color--secondary);
	}
}

:is(.entry-content, .editor-styles-wrapper) .wp-block-wbs-two-line-heading {
	margin-block: 1em 1.5em;

	&:first-child {
		margin-block-start: 0;
	}
}
