/*

block-style: buttons

*/
.wp-block-buttons {
	container-name: wp-block-buttons;
	container-type: inline-size;
}

* + .wp-block-buttons {
	margin-block-start: var(--wp--preset--spacing--block-gutter);
}

/* MARK: style: outline */
.wp-block-button.is-style-outline {
	--_bg-color: var(--wp--preset--color--base);
	--_color: var(--wp--preset--color--text-base);

	.wp-block-button__link {
		&:focus-visible {
			--_color: var(--wp--preset--color--base);
			--_bg-color: var(--wp--preset--color--text-base);
		}

		@media (any-hover: hover) {
			&:hover {
				--_color: var(--wp--preset--color--base);
				--_bg-color: var(--wp--preset--color--text-base);
			}
		}
	}
}
