.entry-content {
	padding-right: var(--wp--custom--gutter);
	padding-left: var(--wp--custom--gutter);

	> *:not(.alignwide):not(.alignfull) {
		max-width: var(--wp--style--global--content-size);
	}

	> *.alignwide {
		max-width: var(--wp--style--global--wide-size);
	}

	> *.alignfull {
		margin-right: calc(var(--wp--custom--gutter) * -1);
		margin-left: calc(var(--wp--custom--gutter) * -1);
	}

	> *:not(.alignfull) {
		margin-right: auto;
		margin-left: auto;
	}
}
