<!-- wp:template-part {"slug":"header","className":"has-display-contents"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"has-bg-circle","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull has-bg-circle">

	<!-- wp:wbs/page-header /-->

	<!-- wp:group {"align":"full","className":"entry-content-wrapper","layout":{"type":"default"}} -->
	<div class="wp-block-group alignfull entry-content-wrapper">

		<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"},"className":""} /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"has-site-footer"} /-->
