* {
	box-sizing: border-box;
	min-inline-size: 0;

	&:focus-visible {
		outline: 2px solid rgb(60 0 255);
		outline-offset: 2px;
	}

	*::placeholder {
		color: var(--wp--preset--color--placeholder);
		opacity: 0.5;
	}
}

:where(html) {
	min-block-size: 100dvb;
}

html {
	scrollbar-gutter: initial;
	font-size: var(--wp--custom--font-sizes--root);
	color-scheme: initial;
	scroll-padding-top: var(--header-height);

	&:not(.has-dialog-open) {
		background-color: var(--wp--preset--color--primary);
	}
}

body {
	font-family: var(--wp--preset--font-family--sans-serif-ja);
	font-optical-sizing: auto;
	font-feature-settings: "pkna";
	font-synthesis: none;
	line-height: var(--wp--custom--line-height--base);
	letter-spacing: var(--wp--custom--letter-spacing--base);
	overflow-wrap: break-word;
	background-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;

	/* overflow-y: scroll; */
}

img,
svg {
	max-inline-size: 100%;
	block-size: auto;
}

hr,
.hr {
	--_hr-max-inline-size: calc(
		calc(100dvi - var(--window-scroll-bar-width, 0)) -
			calc(var(--wp--preset--spacing--normal) * 2)
	);

	inline-size: calc(100% - (var(--wp--preset--spacing--inline-gutter) * 2));
	margin: var(--wp--preset--spacing--md) auto;
	border-block-start-color: var(--wp--preset--color--border);

	&.alignwide {
		max-inline-size: var(--wp--style--global--wide-size);
	}

	&.is-width-xl {
		max-inline-size: var(--wp--custom--container-max-width--xl);
	}

	&.is-width-xxl {
		max-inline-size: var(--wp--custom--container-max-width--xxl);
	}

	&.alignfull {
		inline-size: 100%;
	}
}

strong {
	font-weight: var(--wp--custom--font-weight--bold);
}

:where(button) {
	background-color: transparent;
	border: 0;
}

:where(figcaption) {
	padding-block: 0.25em;
	font-size: var(--wp--preset--font-size--14);
	line-height: var(--wp--custom--line-height--sm);
}

svg {
	inline-size: 100%;
	block-size: auto;
	overflow: visible;
}

:where(p) {
	margin-block-end: 1em;
}

:where(a, button, summary) {
	text-underline-offset: 0.25em;
}

:where(a) {
	text-decoration: underline;

	&:focus-visible {
		text-decoration: none;
	}

	@media (any-hover: hover) {
		&:hover {
			text-decoration: none;
		}
	}
}

:where(ul, ol) {
	padding-inline-start: var(--wp--preset--spacing--md);
}

:where(ul) {
	list-style: initial;
}

:where(ol) {
	list-style-type: decimal;
}

:where(table) {
	inline-size: 100%;
	border-collapse: collapse;
}

:where(.has-fixed-layout table, table.has-fixed-layout) {
	inline-size: 100%;
	table-layout: fixed;
}

:where(thead) {
	border-block-end: max(1px, calc(1 * var(--rem))) solid;
}

:where(tfoot) {
	border-block-start: max(1px, calc(1 * var(--rem))) solid;
}

:where(td, th) {
	padding: 0.5em 0.75em;
	line-break: anywhere;
	border: max(1px, calc(1 * var(--rem))) solid;
}

main,
.has-contents-root {
	> :where(*) {
		max-inline-size: var(--wp--custom--container-max-width--view);
		margin-inline: auto;
	}
}

[hidden]:not([hidden="until-found"]) {
	display: none !important;
}

/*
:where(dialog) {
	inline-size: unset;
	max-inline-size: unset;
	block-size: unset;
	max-block-size: unset;
	padding: unset;
	margin: unset;
	overflow: unset;
	color: unset;
	background-color: unset;
	border: unset;
}
 */

dialog {
	position: fixed;
	inset: 0;
	inline-size: unset;
	max-inline-size: unset;
	block-size: unset;
	max-block-size: unset;
	padding: unset;
	margin: unset;
	overflow: unset;
	overscroll-behavior-block: contain;
	color: unset;
	background-color: unset;
	border: unset;

	transition-timing-function: ease-out;
	transition-duration: 0.15s;
	transition-property: display, overlay, opacity;
	transition-behavior: allow-discrete;

	&::backdrop {
		background-color: oklch(
			from var(--wp--preset--color--text-base) l c h / 96%
		);
		transition-timing-function: inherit;
		transition-duration: inherit;
		transition-property: opacity;
	}

	&:modal,
	&:modal::backdrop {
		@starting-style {
			opacity: 0;
		}
	}

	&:not(:modal),
	&:not(:modal)::backdrop {
		opacity: 0;
	}
}

.updated {
	font-family: var(--wp--preset--font-family--sans-serif-en);
	font-size: var(--wp--preset--font-size--14);
	font-weight: var(--wp--custom--font-weight--bold);
}

.no-posts {
	font-size: var(--wp--preset--font-size--14);
	text-align: center;
}

/* wp adminbar position fix */
@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}
}

/*
x-cloak
@see https://alpinejs.dev/directives/cloak

[x-cloak] { display: none !important; }
*/

/*
hide recaptcha badge
@see https://developers.google.com/recaptcha/docs/faq?hl=ja#id-like-to-hide-the-recaptcha-badge.-what-is-allowed

.grecaptcha-badge { visibility: hidden !important; }
*/

/*
gsap marker fix

[clss*="gsap-marker"] { z-index: 10000 !important; }
*/

/* prevent action (画像の保存操作禁止など) */
.has-prevent-default,
[data-prevent-default] {
	pointer-events: none !important;
	user-select: none !important;
}

/* 印刷時 非表示 */
@media print {
	.has-no-print {
		display: none !important;
	}
}

@media (prefers-reduced-motion) {
	*,
	*::before,
	*::after {
		scroll-behavior: auto !important;
		transition: none !important;
		animation-duration: 0s !important;
	}
}

:where(.wp-site-blocks) {
	position: relative;
	max-inline-size: var(--wp--custom--container-max-width--view);
	margin: 0 auto;
	overflow: clip;
	background-color: var(--wp--preset--color--bg-fill);
}

main {
	/* &.has-bg-circle { padding-block-end: calc( var(--wp--preset--spacing--block-gutter-large) * 1.5 ); } */

	> :where(*) {
		position: relative;
		z-index: 1;
	}
}
