:where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
	margin-block: 0.5em;
	font-feature-settings: "palt";
	text-wrap: pretty;

	&:where(:not(#wpbody-content .wrap *)) {
		font-weight: var(--wp--custom--font-weight--bold);
		line-height: var(--wp--custom--line-height--hd);
		text-wrap: wrap;
		overflow-wrap: break-word;
	}
}

:root body :where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
	margin-block: 1.25em 0;

	&:first-child {
		margin-block-start: 0;
	}
}

:root body :where(* + p) {
	margin-block-start: 1em;
}

/*
:where(.entry-content, .editor-styles-wrapper) {
	h1 { margin-block-end: 1em; }

	h2 { margin-block-end: 1em; }

	h3 { margin-block-end: 1em; }

	p { margin-block-end: 1em; }

	& * + :where(h1):not(:first-child) { margin-block-start: 2em; }

	& * + :where(h2):not(:first-child) { margin-block-start: 2em; }

	& * + :where(h3):not(:first-child) { margin-block-start: 1.5em; }

	& * + :where(h4):not(:first-child) { margin-block-start: 1.5em; }

	& * + :where(h5):not(:first-child) { margin-block-start: 1.5em; }

	& * + :where(h6):not(:first-child) { margin-block-start: 1.25em; }

	& * + p {
		margin-block-start: 1em;
	}
}
*/

p {
	font-size: var(--wp--preset--font-size--16);
}

.wbr {
	word-break: keep-all;
	overflow-wrap: break-word;
}

.ellipsis-1 {
	inline-size: 100%;
	max-inline-size: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
