.wp-block-wbs-section-heading {
	margin-block-end: 1.5em;
	color: var(--wp--preset--color--text);
	text-align: center;

	.head-content,
	.label-content {
		display: block;
		font-weight: var(--wp--custom--font-weight--bold);
		line-height: var(--wp--custom--line-height--md);
	}

	.head-content {
		display: grid;
		column-gap: 0.25em;
		justify-content: center;
		inline-size: fit-content;
		margin: 0 auto;
		font-family: var(--wp--preset--font-family--sans-serif-en);
		font-size: var(--wp--preset--font-size--80);
		line-height: var(--wp--custom--line-height--sm);
		letter-spacing: var(--wp--custom--letter-spacing--heading);

		@media (width >= 48em) {
			font-size: var(--wp--preset--font-size--100);
		}
	}

	&:not(.has-text-color) .head-content {
		color: var(--wp--preset--color--secondary);
	}

	.label-content {
		margin-top: 0.125em;
		font-size: var(--wp--preset--font-size--18);
		letter-spacing: var(--wp--custom--letter-spacing--latin);

		@media (width >= 48em) {
			font-size: var(--wp--preset--font-size--26);
		}
	}
}
