.wp-block-wbs-embed-iframe {
	position: relative;
	display: grid;
	margin-bottom: var(--wp--preset--spacing--lg);

	.embed-source {
		display: block;
		aspect-ratio: var(--aspect-ratio, 4/3);
		overflow: hidden;
		background-color: var(--wp--preset--color--placeholder);

		iframe {
			inline-size: 100%;
			block-size: 100%;
			object-fit: cover;
			border: 0;
		}
	}
}

.wp-block-column .wp-block-wbs-embed-iframe {
	&.has-fit {
		aspect-ratio: 3/2;

		@media (width >= 782px) {
			block-size: 100%;
			min-block-size: 12rem;
			aspect-ratio: initial;
		}
	}
}
