.wp-block-wbs-grid-layout {
	position: relative;
	box-sizing: border-box;
	display: grid;
	inline-size: 100%;
	margin: 0 auto;

	&:not(:first-child) {
		margin-block-start: var(--wp--custom--block-gutter);
	}

	> :is(
			.wp-block-column,
			.wp-block-wbs-card-link,
			.wp-block-wbs-card-content,
			.wp-block-wbs-grid-layout-column
		),
	> .block-editor-inner-blocks
		> .block-editor-block-list__layout
		> :is(
			.wp-block-column,
			.wp-block-wbs-card-link,
			.wp-block-wbs-card-content,
			.wp-block-wbs-grid-layout-column
		) {
		z-index: 1;
		min-inline-size: 0;
		min-block-size: var(--_grid-child-min-block-size, auto);
		overflow: clip;
		border-radius: var(--_grid-child-border-radius);
	}
}

.wp-block-wbs-grid-layout.has-child-subgrid {
	:is(
			.wp-block-column,
			.wp-block-wbs-card-link,
			.wp-block-wbs-card-content,
			.wp-block-wbs-grid-layout-column
		) {
		grid-template-rows: subgrid;
		grid-row: 0;
	}

	:is([class*="wp-block-"]),
	> .block-editor-inner-blocks
		> .block-editor-block-list__layout
		> :is([class*="wp-block-"]) {
		margin-block: 0;
	}

	> :is(
			.wp-block-column,
			.wp-block-wbs-card-link,
			.wp-block-wbs-card-content,
			.wp-block-wbs-grid-layout-column
		),
	> .block-editor-inner-blocks
		> .block-editor-block-list__layout
		> :is(
			.wp-block-column,
			.wp-block-wbs-card-link,
			.wp-block-wbs-card-content,
			.wp-block-wbs-grid-layout-column
		) {
		display: grid;
		grid-row: span var(--_grid-child-row-span);
		grid-column: span var(--_grid-child-col-span);
	}
}

:is(.entry-content, .wp-block-post-content) > .wp-block-wbs-grid-layout {
	inline-size: calc(100% - (var(--wp--custom--gutter) * 2));
}
