.wp-block-wbs-accordion {
	padding: calc(2 * var(--rem));
	padding-bottom: calc(54 * var(--rem));
	border: 1px dashed transparent;

	@media (any-hover: hover) {
		&:hover {
			border-color: color-mix(
				in srgb,
				var(--wp--preset--color--text-base),
				transparent 60%
			);
		}
	}

	.wp-block-wbs-accordion-item + .wp-block-wbs-accordion-item {
		margin-top: var(--wp--preset--spacing--md);
	}

	.block-list-appender {
		position: absolute;
		bottom: -50px;
	}
}
