.has-lead {
	line-height: var(--wp--custom--line-height--xl);
}

.has-leading-xs {
	line-height: var(--wp--custom--line-height--xs);
}

.has-leading-sm {
	line-height: var(--wp--custom--line-height--sm);
}

.has-leading-md {
	line-height: var(--wp--custom--line-height--md);
}

.has-leading-lg {
	line-height: var(--wp--custom--line-height--lg);
}

.has-leading-xl {
	line-height: var(--wp--custom--line-height--xl);
}

.has-leading-2xl {
	line-height: var(--wp--custom--line-height--2xl);
}

.has-leading-x3l {
	line-height: var(--wp--custom--line-height--x3l);
}

.has-text-normal {
	font-weight: var(--wp--custom--font-weight--regular);
}

.has-text-medium {
	font-weight: var(--wp--custom--font-weight--medium);
}

.has-text-bold {
	font-weight: var(--wp--custom--font-weight--bold) !important;
}

.has-text-black {
	font-weight: var(--wp--custom--font-weight--black) !important;
}

.has-text-sans-serif-oswald {
	font-family: var(--wp--preset--font-family--sans-serif-en);
}

.has-text-size-xs {
	font-size: var(--wp--preset--font-size--10);

	@media (width >= 62em) {
		font-size: var(--wp--preset--font-size--12);
	}
}

.has-text-size-sm {
	font-size: var(--wp--preset--font-size--12);

	@media (width >= 62em) {
		font-size: var(--wp--preset--font-size--14);
	}
}

.has-text-size-md {
	font-size: var(--wp--preset--font-size--14);

	@media (width >= 62em) {
		font-size: var(--wp--preset--font-size--16);
	}
}

.has-text-size-lg {
	font-size: var(--wp--preset--font-size--16);

	@media (width >= 62em) {
		font-size: var(--wp--preset--font-size--18);
	}
}

.has-text-size-xl {
	font-size: var(--wp--preset--font-size--22);

	@media (width >= 62em) {
		font-size: var(--wp--preset--font-size--24);
	}
}

.has-text-size-2xl {
	font-size: var(--wp--preset--font-size--26);

	@media (width >= 62em) {
		font-size: var(--wp--preset--font-size--30);
	}
}

.has-text-emphasis {
	font-size: 140%;
}

.has-text-center {
	text-align: center !important;
}

.has-text-center-md {
	@media (width >= 48em) {
		text-align: center;
	}
}

.has-text-center-lg {
	@media (width >= 62em) {
		text-align: center;
	}
}

.has-text-center-md-left {
	text-align: center;

	@media (width >= 48em) {
		text-align: left;
	}
}

.has-text-center-lg-left {
	text-align: center;

	@media (width >= 62em) {
		text-align: left;
	}
}

.has-text-justify {
	text-align: justify;
}

.has-text-left {
	text-align: left !important;
}

.has-text-right {
	text-align: right !important;
}

.has-text-hide {
	font-size: 0;
	color: transparent;
}

.has-text-block {
	& > span {
		display: block;
	}
}

.has-text-block-md {
	& > span {
		display: inline-block;

		@media (width >= 48em) {
			display: block;
		}
	}
}

.has-text-block-lg {
	& > span {
		display: inline-block;

		@media (width >= 62em) {
			display: block;
		}
	}
}

.has-text-auto-line {
	& > span {
		display: inline-block;
	}
}

.has-text-force-break {
	& > span {
		display: block;
	}
}

.has-text-auto-centering {
	display: inline-block;
	text-align: initial !important;
}

.has-text-color {
	color: var(--wp--preset--color--text-base);
}

.has-text-color-base {
	color: var(--wp--preset--color--base);
}

.has-text-color-primary {
	color: var(--wp--preset--color--primary) !important;
}

.has-text-color-secondary {
	color: var(--wp--preset--color--primary) !important;
}

.has-text-color-border {
	color: var(--wp--preset--color--border);
}

.has-text-color-danger {
	color: var(--wp--preset--color--danger) !important;
}

.has-text-underline {
	text-decoration: underline;
}

.has-text-line-through {
	text-decoration: line-through;
}

.has-text-no-break {
	white-space: nowrap;
}

.has-line-clamp-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
