.block-editor-block-list__block.wp-block.wp-block-wbs-tabs {
	padding: 1em;
	border: 1px dashed var(--wp--preset--color--primary);
	margin-right: 0;
	margin-left: 0;
	background: var(--wp--preset--color--base);

	h2 {
		margin-bottom: 0.5em;
		font-size: 1em;
	}

	&.has-child-selected {
		border-color: var(--wp--preset--color--danger);
	}
}
