:where(.entry-content, .editor-styles-wrapper .is-root-container) {
	container-name: entry-content;
	container-type: inline-size;

	> :where(*.alignfull) {
		max-width: var(--wp--custom--container-max-width--view);
	}

	> .has-global-padding {
		padding-inline: var(--wp--custom--gutter);
	}
}

:root :where(.is-layout-constrained) {
	> * + * {
		margin-block-start: var(--wp--custom--block-gutter);
	}

	* + p {
		margin-block-start: 1em;
	}
}

:where(.entry-content) {
	--_max-inline-gutter-width: calc(100% - (2 * var(--wp--custom--gutter)));

	display: flow-root;

	> * {
		inline-size: min(
			var(--_max-inline-gutter-width),
			var(--wp--style--global--content-size)
		);
		margin-inline: auto;
	}

	> *.alignwide {
		inline-size: min(
			var(--_max-inline-gutter-width),
			var(--wp--style--global--wide-size)
		);
		max-width: var(--_max-inline-gutter-width);
	}

	> *.alignfull {
		inline-size: min(100%, var(--wp--custom--container-max-width--view));
	}

	&.wp-block-post-content.has-global-padding {
		padding-inline: 0;
	}
}

.entry-container {
	width: 100%;
	max-width: var(--wp--style--global--content-size);
	margin-inline: auto;

	&.alignwide {
		max-width: var(--wp--style--global--wide-size);
	}

	&.alignfull {
		max-width: 100% !important;
	}

	&.align-max-2xl {
		max-width: var(--wp--custom--container-max-width--xxl);
	}
}

.is-layout-flow > * + .wp-block-heading {
	margin-top: var(--wp--preset--spacing--lg);
}

.is-layout-flow > * + :is(h1, h2, h3, h4, h5, h6) {
	margin-top: var(--wp--preset--spacing--lg);
}

.has-display-contents {
	display: contents;
}

.has-global-padding > .alignfull {
	margin-inline: auto;
}
