:where(a) {
	color: var(---wp--preset--color--text-base);
}

:where(.entry-content, .editor-styles-wrapper, .footer, .header) {
	a:not(.share-link, [class*="button"], :has(img, svg)) {
		&[target="_blank"]::after,
		&[href*=".pdf"]::after {
			content: "";
			display: inline-block;
			width: 2em;
			height: 1em;
			margin-right: 0.25em;
			margin-left: 0.25em;
			background-color: currentcolor;
		}

		&[href*=".pdf"]::after {
			mask-image: var(--mask-ico-pdf);
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: 90%;
		}

		&[target="_blank"]::after {
			mask-image: var(--mask-ico-external);
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;
		}
	}
}
