.wp-block-wbs-article-loop {
	padding: var(--wp--preset--spacing--lg) 0;
	container-name: archive-grid;
	container-type: inline-size;

	.pagination-scroller {
		--negative: calc(var(--wp--preset--spacing--normal) * -1);
		margin-right: var(--negative);
		margin-left: var(--negative);
	}

	.archive-grid {
		--_column: 1;
		--_gap: clamp(1em, 2cqi, 2em);

		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			calc((100% - var(--_gap) * (var(--_column) - 1)) / var(--_column))
		);
		gap: var(--wp--preset--spacing--lg) var(--_gap);
		justify-content: center;

		@container (inline-size >= 54em) {
			--_column: 2;
		}
	}
}
