@import "../main/config/**/*.css";
@import "../main/global/entry-content.css";
@import "../main/global/link.css";
@import "../main/components/**/*.css";
@import "../main/block-styles/**/*.css";
@import "../main/utils/**/*.css";

.editor-styles-wrapper {
	padding: 0 1rem 1rem !important;

	:where(*) {
		line-height: var(--wp--custom--line-height--base);
	}

	/*
	:where(.wp-block + *) {
		margin-top: var(--wp--preset--spacing--lg);
	}
	*/

	:where(* + p) {
		margin-top: 0.75em;
	}

	:where(button) {
		background-color: transparent;
		border: 0;
	}

	.wp-block-media-text {
		gap: 1rem;
	}

	.block-editor-block-list__layout.is-root-container > .alignfull {
		margin-right: calc(var(--wp--style--root--padding-right) * -1);
		margin-left: calc(var(--wp--style--root--padding-left) * -1);
	}
}
